* {
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
}

html, body {
  height: 100%;
  width: 100%;
}

.debug{
  font-size: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
