main {
  flex: 1;
  display: flex;
}

.debug .main {
  width: 80%;
  margin: 0 auto;

  max-width: 160rem;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  margin-block: 1rem;
}

.debug .main > * {
  display: flex;
  flex:1;
  gap: 0.7rem;
  
  flex-wrap: nowrap;
}

.main > * > * {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main .first-row .main-content {background-color: rgb(103, 210, 103); flex: 0.7; min-width:67.2%;}
.main .first-row .side-bar {background-color: rgb(208, 103, 210); flex: 0.3;min-width:28.8%;}
.main .second-row .twin {background-color: rgb(255, 150, 31); min-width:48%;}