.debug .main {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
  background: rgb(250, 250, 250);
}

.debug .main > * {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  height: auto;
}

.main > * > * {
  flex: 1 1 15rem;  /* cresce, si restringe, min-width = 15rem */
  text-align: center;
}

.main .first-row .main-content { background: rgb(103, 210, 103); }
.main .first-row .side-bar { background: rgb(208, 103, 210); }
.main .second-row .twin { background: rgb(255, 150, 31); }
