.debug .main {
  max-width: 140rem;

  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;

  gap: 0.7rem;
}

.debug .main > * {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;

  gap: 0.7rem;
  height: auto;
}

.main > * > * {
  flex: 1 1 15rem;  /* cresce, si restringe, min-width = 15rem */
  min-height: 43.45vh;
  min-width: 50rem;
  text-align: center;
}

.main .first-row .main-content { background: rgb(103, 210, 103); }
.main .first-row .side-bar { background: rgb(208, 103, 210); }
.main .second-row .twin { background: rgb(255, 150, 31); }
