* {
  margin:0;
  box-sizing: border-box;
}

.debug {
  background-color: black;
  color: white;
}

.white-mode {
  background-color: white;
  color: black;
}


.debug .main-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}


button{
  width: 5rem;
  height: 5rem;
  border-radius:50%;
}

.main-body > * > img {
  height: 2rem;
}

.main-body > img {
  height: 20rem;
  width: 14rem;
}

