* {
  margin:0;
  box-sizing: border-box;
}

.debug {
  background-color: black;
  color: white;
}

.white-mode {
  background-color: white;
  color: black;
}


button{
  width: 5rem;
  height: 5rem;
  border-radius:50%;
}

.main-body > * > img {
  height: 2rem;
}

