* {
  margin:0;
  box-sizing: border-box;
}

.debug {
  background-color: black;
  color: white;
}

.white-mode {
  background-color: white;
  color: black;
}


.debug .main-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
}


button{
  width: 5rem;
  height: 5rem;
  border-radius:50%;

  justify-self: flex-end;
  margin-top:auto;

  background-color: rgb(255, 255, 255);
  border: 0;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
}



button:hover {
  cursor: pointer;
}

.main-body > * > img {
  height: 2.5rem;
}

.main-body > img {
  height: 16rem;
  width: 11rem;
}

@media (max-width: 768px) {
  html, .main-body {
    height:100vh;
  }

  button {
    bottom: 30%;
    width: 4rem;
    height: 4rem;
  }

  .main-body {
    gap: 2rem;
  }

  .main-body > img {
    height: 12rem;
    width: auto;
  }
}