.web-page .container {
  width: 70%;
  margin: 0 auto;

  border: 1px dashed;
}

.web-page .intro-elements {
  height: 14rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;

  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.web-page .intro-elements > * {
  background-color: lightgray;
}

.web-page .figureimage {
  height: 5rem;
  width: 5rem;
}

.web-page .figurecaption {
  height: 2.5rem;
  width:18rem;
}





.web-page .a1 {background-color: rgba(206, 154, 255, 0.873);}

.web-page .card-area {
  height: 30rem;
  padding-block: 2rem;

  display: flex;
  gap: 5%;
}

.web-page .card-1 {
  height: 100%;
  flex: 1;
  background-color: white;
}
