.debug .intro {
  background-color: white;
}



.web-page .container {
  width: 65rem;
  margin: 0 auto;
}

.web-page .intro-elements {
  height: 14rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;

}

.web-page .intro-elements > * {
  background-color: lightgray;
}

.web-page .figureimage {
  height: 5rem;
  width: 5rem;
}

.web-page .figurecaption {
  height: 2.5rem;
  width:18rem;
}





.web-page .a0 {background-color: rgb(167, 255, 193);}
.web-page .a1 {background-color: white;}
.web-page .a2 {background-color: rgba(206, 154, 255, 0.873);}

.web-page .card-area {
  height: 30rem;
  padding-block: 2rem;

  display: flex;
  gap: 5%;
}

.web-page .a1 .card-1,
.web-page .a2 .card-1 {
  height: 100%;
  flex: 1;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8%;

  background-color: white;
}

.web-page .a1 .card-1 {justify-content: center;}
.web-page .a2 .card-1 {justify-content: flex-end; padding: 2rem;}

.web-page .card-1 > * {
  width: 100%;
  
  background-color: rgb(243, 243, 243);
}

.web-page .a1 .card-1-1 {height: 15%; width: 60%;}
.web-page .a1 .card-1-2 {height: 70%; background-color: white;
  display: flex;
  gap: 3%;
}

.web-page .a1 .card-1-2 > * {
  height: 100%;
  width:100%;

  background-color: rgb(243, 243, 243);
}

.web-page .a2 .card-1-1 {height: 10%;}
.web-page .a2 .card-1-2 {height: 50%;}






.web-page .other-container > .card-area {
  padding-inline: 3rem;
  flex: 1;
}

.web-page .other-container {
  display: flex;
  gap: 0.8rem;
}

.web-page .other-container .card-1 {
  background-color: rgba(255, 255, 255, 0);
}

.web-page .other-container .orange-1 {
  background-color: rgb(255, 149, 0);
}

.web-page .other-container .orange-2 {
  background-color: rgb(255, 136, 0);
}

